* > a{
  text-decoration: none;
  color: black;
}
body {
      font-family: 'Inter', sans-serif;
      margin: 0;
      padding: 0;
      background: #f9f9f9;
      color: #333;
    }
    header {
      background-color: #333;
      color: white;
      padding: 1rem 2rem;
    }
    header h1 {
      margin: 0;
      color: white;
    }
    nav {
      margin-top: 0.5rem;
    }
    nav a {
      color: white;
      text-decoration: none;
      margin-right: 1rem;
    }
    main {
      display: flex;
      flex-wrap: wrap;
      padding: 2rem;
      gap: 2rem;
    }
    img{
      width: auto;
      height: 50vh;
      box-shadow: #333 0 0 10px;
    }
    .spe{
      height: auto;
      width: max-content;
    }
    .graph{
      width: auto;
      height: 55vh;
    }
    .content {
      flex: 3;
    }
    .sidebar {
      flex: 1;
      background-color: #eee;
      padding: 1rem;
      height: max-content;
      position: sticky;
      top: 2rem;
    }
    .sidebar > ul > li{
      text-decoration: underline;
    }
    article {
      margin-bottom: 2rem;
      background: white;
      padding: 1rem;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    }
    article:hover {
        background-color: rgb(242, 238, 255);
        cursor: pointer;
    }
    article h2 {
      margin-top: 0;
    }
    footer {
      text-align: center;
      padding: 1rem;
      background-color: #333;
      color: white;
    }